/** 
Colores:
Gris claro: #EEF0F2
Blanco: whitesmoke
Gris oscuro: #2E2F2F
Naranja: #FF9F1C
gris muy oscuro: rgb(27, 27, 27)
**/
/*
*{
    font-family: 'Manrope', sans-serif;
}
HEADER

.encabezado{
    background: linear-gradient(261deg, rgba(112,112,112,0.36738445378151263) 0%, rgba(173,173,173,0.3169642857142857) 45%, rgba(228,228,228,0.19931722689075626) 100%);
}

.encabezado-container a:hover{
    color: #FF9F1C;
}

.encabezado-container-logo-mp{
    width: 2em
}

.encabezado-container-logo{
    justify-content: left;
}

.encabezado-container-lista{
    justify-content: right;
    color: #2E2F2F;
    font-weight: 400;
}

MAIN

main{
    background-color:  #EEF0F2 
}



*nosotros
.nosotros__img{
    width: 50rem
}

.nosotros__texto--titulo{
    display: inline;
    font-weight: 800;
    font-size: 1.5em;
    color:#2E2F2F
}

.nosotros__texto--p{
    padding-top: 2em;
    font-size: 1em;
    color:#2E2F2F
}

.nosotros___texto{
    margin: 8em 2em 2em ;
}


.grid-nosotros{
    background-color:  #2E2F2F;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.8fr;
    grid-template-rows: 1fr 1fr;.
}

.img-nosotros{
    width: 44em;
    height: 30em;
    grid-column: 1/3;
    grid-row: 1/3;
}

.titulo-nosotros{
    grid-column: 3/4;
    grid-row: 1/2;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color:#EEF0F2
}

.p-nosotros{
    grid-column: 3/4;
    grid-row: 2/3;
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    justify-content: center;
    font-size: 1em;
    color:#EEF0F2
    
}

.grid-nosotros{
    display: grid;
    gap: 1rem;
    grid-auto-flow: dense;
    grid-auto-rows: 22em;
    grid-template-columns: repeat(auto-fill, minmax(15rem,1fr));
}*/
/** page servicio
.servcios__container--titulo{
    font-weight: 800;
    font-size: 1.8em;
    color:  #2E2F2F;
    display: flex;
    justify-content: center;
    padding-top: 3em;
    padding-bottom: 3em;
}
 
.servcios__container--presupuesto{
    font-size: 1em;
    font-weight: 600;
    color: #FF9F1C;
    display: flex;
    justify-content: center;
    padding-bottom: 3em;
    padding-top: 3em;
}

.sservcios__container--presupuesto:hover{
    color:  #2E2F2F;
}

.servcios__container__items--render{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servcios__container__items--recorrido{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servcios__container__items--360{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servcios__container__items{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.servcios__container__items--subtitulo{
    font-size: 0.7em;
    font-weight: 600;
    color: #FF9F1C;
    text-decoration: none;
    margin: 0.2em 0.2em 0.2em 0.2em;
}

.servcios__container__items--subtitulo:hover{
    color:  #2E2F2F;
    font-size: 0.8em;
}

.servcios__container__items--button{
    border-radius: 0.8em;
    background-color: transparent;
    border-color:  #2E2F2F;
}

.servcios__container__items--button:hover{
    background-color: rgba(245, 245, 245, 0.116);
}

.servcios__container__items--card{
    font-size: 0.8em;
    width: 25em;
    color: #2E2F2F;
    margin: 2em;
    
}

.servicios{
    background-color: transparent
}

.servicios__beneficios__titulo{
    padding-left: 2em;
    padding-top: 2em;
    font-size: 1.6em;
    font-weight: 800;
    color:#EEF0F2;
}

.servicios__beneficios__lista--subtit{
    font-weight: 600;
    color: #FF9F1C;
}

.servicios__beneficios__lista{
    padding-left: 5em;
    padding-top: 1em;
    font-size: 0.9em;
    color:#EEF0F2;
}

.sservicios__beneficios{
    height: 25em;
    background-color: #2E2F2F;
}

/*Portfolio*//*
.galeria---titulo{
    padding-top: 3em;
    font-size: 1.8em;
    font-weight: 800;
    color:  #FF9F1C;
    justify-content: center;
}

.galeria__container__button--subtitulo{
    font-size: 1em;
    font-weight: 600;
    color: #2E2F2F;
    display: inline;
}

.galeria__container__button--item{
    border-radius: 0.7em;
    background-color: whitesmoke;
    border-color:  #2E2F2F;
}

.galeria__container__button{
    padding-top: 2em;
    padding-bottom: 2em;
}

.galeria__container__interior--img{
    width: 30em;
}

.galeria__container__exterior--img{
    width: 30em;
}

.galeria__container__recorrido--video{
    width: 100%;
}

Contacto
.contacto{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contacto__container{
    width: 40em;
    margin: 2em 2em 2em 2em;
}

.contacto__container__lista__items{
    display: flex;
    align-items: center;
    list-style: none;
}

.contacto__container__lista__items--icono{
    width: 1.5em;
    display: inline;
    padding-top: 1em;
    padding-bottom: 1em;
}

.contacto__container__lista__items--h6{
    font-weight: 400;
    font-size: 1em;
    display: inline;
    color: gris oscuro;
}

.contacto__container__lista__items--h6:hover{
    color: naranja;
}

FOOTER
footer{
    background-color:#EEF0F2 ;
    padding: 0.8em 0.8em 0.8em 0.8em;
}

.pie{
    background-color:#EEF0F2 ;
}

.logo-flotante--icono{
    width: 2em;
}

.pie__lista{
    justify-content: center;
    color: #2E2F2F;
    font-weight: 400;
    align-items: center;
}

.logo-flotante{
    position: fixed;
    bottom: 0.8em;
    right: 1em;
} 
.pie__lista--icono{
    width: 1em;
    display: inline;
    margin-left: 1em;
    margin-right: 1em;
}


@media (min-width:561px max-width: 959px){
    .logo-header{
        width: 1em
    }
 
    .logo-footer{
        width: 1em;
    }

    .footer-lista{
        display: inline-block;
        display: flex;
        justify-content: center;
    }

    .carrusel-index{
        flex-direction: column;
    }

    .carrusel-lg{
        display: none;
    }

    .carrusel-media{
        display: flex;
        flex-direction: column;
    }

    .servicios-items-360{
        padding-top: 1em;
    }

    .servicios-items-Render{
        padding-bottom: 1em;
    }

    .servicios-items-recorrido{
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .servcios-container{
        padding-left: 0em;
    }

    .servcios-titulo{
        padding-top: 1em;
    }

    .servicios-beneficios{
        height: 30em;
    }

    .servicios-beneficios-lista{
        padding-left: 3em;
    }
}

@media (max-width: 560px) {
    .logo-header{
        width: 1em
    }
 
    .logo-footer{
        width: 1em;
    }

    .footer-lista{
        display: inline-block;
        display: flex;
        justify-content: center;
    }

    .carrusel-index{
        flex-direction: column;
    }

    .carrusel-lg{
        display: none;
    }

    .carrusel-media{
        display: flex;
        flex-direction: column;
    }

    .servicios-items-360{
        padding-top: 1em;
    }

    .servicios-items-Render{
        padding-bottom: 1em;
    }

    .servicios-items-recorrido{
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .servcios-container{
        padding-left: 0em;
    }

    .servcios-titulo{
        padding-top: 1em;
    }

    .servicios-beneficios{
        height: 30em;
    }

    .servicios-beneficios-lista{
        padding-left: 3em;
    }
}

 */

