*{
    font-family: $font-manrope;
    background-color: $gris-claro;
}

main{
    background-color: $gris-claro; 
}

.carrusel--media{
    display: none;
}

footer{
    background: linear-gradient(261deg, #08080854 0%, rgba(43, 43, 43, 0.288) 45%, rgba(32, 32, 32, 0.041) 100%);
    padding: 1em 1em 1em 1em;
}