*{
    font-family: $font-manrope;
    background-color: $gris-claro;
}

main{
    background-color: $gris-claro; 
}

.carrusel--media{
    display: none;
}

footer{
    background-color: $gris-claro;
    padding: 0.8em 0.8em 0.8em 0.8em;
}