/*COLORES*/
$naranja: #FF9F1C;
$gris-claro: #EEF0F2;
$gris-oscuro: #2E2F2F;
$gris-muy-oscuro: rgb(27, 27, 27);
$blanco: whitesmoke;
$fondo-header: #eef0f2b0;

/*FONT*/
$font-manrope:  'Manrope', sans-serif;