.contacto{
    display: flex;
    justify-content: space-around;
    align-items: center;
    &__container{
        width: 40em;
        margin: 4em 2em 4em 2em;
        &--titulo{
            @include font-size-weight-color (2em, $gris-oscuro, 800);
        }


        &__lista{
            &__items{
                @include flex-alig;
                list-style: none;
                &--icono{
                    width: 1.5em;
                    display: inline;
                    @include padding (1em , 1em);
                }
                &--h6{
                    @include font-size-weight-color (1em, $gris-oscuro, 500);
                    display: inline;
                    text-decoration: none;
                    :hover{
                        color: $naranja;
                    }
                }
                }
            }
    }
    &__presupuesto{
        margin-top: 3em;
        margin-bottom: 2em;
        &--tit{
            background-color: $gris-oscuro;
            @include font-size-weight-color (1.2em, $gris-claro, 800);
            padding-left: 2em;
        }
        &__ul{
            list-style-type: decimal-leading-zero;
            &__li{
                &--texto{
                    @include font-size-weight-color (0.8em, $gris-oscuro, 500);
                }
            }
        }
        &--consulta{
            @include font-size-weight-color (1em, $naranja, 800);
        }
    }
}
