.encabezado{
    background: linear-gradient(261deg, #08080854 0%, rgba(43, 43, 43, 0.288) 45%, rgba(32, 32, 32, 0.041) 100%);
    :hover{
        color: $naranja;
    }
    &__logo{
        justify-content: left;
        &--animacion{
            transform: scale(2);
        }
        &--img{
            width: 2em;
        }
    }
    &__lista{
        justify-content: right;
        color: $gris-oscuro;
        font-weight: 400;
    }
}

.nav-link{
    color: $naranja !important;
}

.navbar{
    background-color: linear-gradient(261deg, #08080854 0%, rgba(43, 43, 43, 0.288) 45%, rgba(32, 32, 32, 0.041) 100%)!important;
}

.container-fluid{
    background-color:linear-gradient(261deg, #08080854 0%, rgba(43, 43, 43, 0.288) 45%, rgba(32, 32, 32, 0.041) 100%)!important;};



