.nosotros{
    &__texto{
        margin: 8em 2em 2em;
        &--titulo{
            display: inline;
            @include font-size-weight-color (1.5em, $gris-oscuro, 800);
        }
        &--p{
            padding-top: 2em;
            @include font-color (1em, $gris-oscuro);
        }
    }
    &__img{
        display: flexbox;
        flex-wrap: wrap;
        height: 25rem;
    }
    
    &__testimonios{
        &__h2{
            @include font-size-weight-color (1.2em, $gris-claro, 800);
            background-color: $gris-muy-oscuro;
            padding-left: 2em
        }
        &--p{
            @include font-color (0.8em, $gris-oscuro);
        }
        &--foto{
            height: 10em;
        }
    }
}