.pie{
   &__lista{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    &__a{
        &--icono{
            width: 1em;
            margin-left: 1em;
            margin-right: 1em;
        }
    }

   } 
}

.logo-flotante{
    position: fixed;
    bottom: 0.8em;
    right: 1em;
    &--icono{
        width: 1.5em;
        display: inline;
        margin-left: 1em;
        margin-right: 1em;
    }
}