.servicios{
    &--titulo{
        @include font-size-weight-color (1.8em, $naranja, 800);
        @include flex-center;
        @include padding (3em , 3em);
    }
    &__beneficios{
        height: 25em;
        &__titulo{
            padding-left: 2em;
            padding-top: 2em;
            @include font-size-weight-color (1.6em, $gris-oscuro, 800);
        }
        &__lista{
            padding-left: 5em;
            padding-top: 1em;
            @include font-color (0.9em, $gris-oscuro);
            &--subtit{
                font-weight: 600;
                color: $naranja;
            }
            &--p{
                @include font-size-weight-color (0.8em, $gris-oscuro, 400);
            }
            }
        }
    &__container{
        margin-top: 3em;
        &__items{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
            @include flex-col-alig;
                &__button{
                    border-radius: 2em;
                    background-color: $gris-oscuro;
                    border-color: $gris-oscuro;
                    :hover{
                        background-color: $gris-muy-oscuro;
                    }
                    &--subititulo{
                        @include font-size-weight-color (1em, $naranja, 600);
                        text-decoration: none
                    }
                }
                &--card{
                    @include font-color (0.8em, $gris-oscuro);
                    width: 25em;
                    margin: 2em;
                }
            }
            &--presupuesto{
                @include font-size-weight-color (1em, $naranja, 600);
                @include flex-center;
                @include padding (3em , 3em);
                text-decoration: none;
                
                :hover{
                    color: $gris-oscuro;
                }
            }
        }
        
    }
    

 